$grid-columns: 12;
$grid-gutter-width: 20px;

@import "~bootstrap/scss/bootstrap";

.pokemons {
  padding: 50px 20px;
}

.pokemons-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}

.flex-wrap {
  display: flex;
  justify-content: center;
}